    <% @tweets.each do |tweet| %>

      <div class="row">
        <div class="col s12 m6">
          <div class="card blue">

            <div class="card-content white-text">
            <i class="material-icons">bookmark</i>
              <span class="card-title"><%= tweet.name %></span>
             <i class="material-icons">content_paste</i>

              <%= simple_format(tweet.text) %>

            </div>
            <div class="card-action">
              <a href="#">comment</a>
            </div>
          </div>
        </div>
      </div>
             <% end %>
               <%= paginate(@tweets) %>
